<h1>1. Bar chart</h1>
<app-bar-chart></app-bar-chart>
<br>

<h1>2. Line chart</h1>
<app-line-chart></app-line-chart>
<br>

<h1>3. Pie chart</h1>
<app-pie-chart></app-pie-chart>
<br>

<h1>4. Radar chart</h1>
<app-radar-chart></app-radar-chart>
<br>

<h1>5. Polar Area chart</h1>
<app-polar-area-chart></app-polar-area-chart>
<br>

<h1>6. Doughnut chart</h1>
<app-doughnut-chart></app-doughnut-chart>
<br>

<h1>7. Horizontal Bar chart</h1>
<app-horizontal-bar-chart></app-horizontal-bar-chart>
<br>

<h1>8. Grouped Bar chart</h1>
<app-grouped-bar-chart></app-grouped-bar-chart>
<br>

<h1>9. Mixed chart</h1>
<app-mixed-chart></app-mixed-chart>

<h1>10. Bubble chart</h1>
<app-bubble-chart></app-bubble-chart>
